{% extends 'base.html.twig' %}

{% block title %}GopnikVideo index{% endblock %}

{% block body %}
    <h1>GopnikVideo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Text</th>
                <th>VideoUrl</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gopnik_video in gopnik_videos %}
            <tr>
                <td>{{ gopnik_video.id }}</td>
                <td>{{ gopnik_video.title }}</td>
                <td>{{ gopnik_video.text }}</td>
                <td>{{ gopnik_video.videoUrl }}</td>
                <td>
                    <a href="{{ path('gopnik_video_show', {'id': gopnik_video.id}) }}">show</a>
                    <a href="{{ path('gopnik_video_edit', {'id': gopnik_video.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('gopnik_video_new') }}">Create new</a>
{% endblock %}
